.contact-header {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 4rem 0;
    text-align: center;
}

.contact-content {
    display: flex;
    gap: 4rem;
}

.contact-info {
    flex: 1;
}

.contact-info h2 {
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.contact-desc {
    margin-bottom: 2rem;
    color: var(--color-text-light);
}

.info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.info-icon {
    font-size: 1.5rem;
    color: var(--color-primary);
    margin-right: 1.5rem;
    margin-top: 5px;
}

.info-item h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--color-secondary);
}

.info-item p {
    color: var(--color-text-main);
    font-size: 0.95rem;
}

.contact-form-wrapper {
    flex: 1;
    background: var(--color-white);
    padding: 2rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
}

.contact-form h3 {
    margin-bottom: 1.5rem;
    color: var(--color-secondary);
}

.contact-form textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius-sm);
    font-family: var(--font-body);
    font-size: 1rem;
    resize: vertical;
}

.contact-form textarea:focus {
    outline: none;
    border-color: var(--color-primary);
}

.contact-btn {
    width: 100%;
}

.map-section {
    width:80%;
    display: flex;
    margin: auto;
    padding: 40px;
    
}
.map-section iframe{
    border-radius:10px;
}

@media screen and (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        gap: 3rem;
    }

    .contact-form-wrapper {
        width: 100%;
    }
}